section.home-frame {
    display: flex;
    &.vertical {
        flex-direction: column;
        .home-content-section {
            margin: 20px 0 20px 0;
        }
    }
    .home-user-section {
        flex: 2.1;
        height: max-content;
        h1,h2,h3,h4 {
            margin-bottom: 0;
        }
        .ant-divider {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .ant-card{
            display: flex;
            align-items: center;
            justify-content: center;
            .ant-card-body {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .user-img-container {
            border-radius: 50%;
            overflow: hidden;
            max-width: 150px;
            min-height: 150px;
            img {
                object-fit:cover;
                width: 100%;
            }
           
        }
        .user-social {
            display: flex;
            flex: 10px;
            align-self: flex-start;
            img {
                margin-right: 5px;
            }
        }
    }
    .home-content-section {
        height: max-content;
        flex: 6;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }
    .home-follower-section {
        height: max-content;
        flex: 3.3;
        .ant-card {
            // background-color: red;
        }
        .follower-card {
            overflow: scroll;
            max-height: 460px;
            .followers {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                gap: 6px;
                .follower {
                    border-radius: 10px;
                    overflow: hidden;

                    .img-container {
                        position: relative;
                        overflow: hidden;
                        border-radius: 10px;
                        width: 90px;
                        // height: 120px;
                        img {
                            scale: 1.2;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        span {
                            color: #fff;
                            left: 5px;
                            bottom: 10px;
                            position: absolute !important;
                        }
                    }
                }
            }
        }
    }
    // @media @xxs {
    //     flex-direction: column;
    //     .home-content-section {
    //         margin-left: 0px;
    //         margin-right: 0px;
    //     }
    // }
    // @media @xs {
    //     flex-direction: column;
    //     .home-content-section {
    //         margin-left: 0px;
    //         margin-right: 0px;
    //     }
    // }
}